<div id="charms" class="win-ui-dark">

   <div id="theme-charms-section" class="charms-section">
      <div class="charms-header">
         <a href="#" class="close-charms win-command">
            <span class="win-commandimage win-commandring">&#xe05d;</span>
         </a>
         <h2>Settings</h2>
      </div>

      <div class="row-fluid">
         <div class="span12">

            <form class="">
               <label for="win-theme-select">Change theme:</label>
               <select id="win-theme-select" class="">
                  <option value="metro-ui-semilight">Semi-Light</option>
                  <option value="metro-ui-light">Light</option>
                  <option value="metro-ui-dark">Dark</option>
               </select>
            </form>

         </div>
      </div>
   </div>

</div>
