<div id="charms" class="win-ui-dark">
   <div id="charms-header" class="row">
      <div class="span1 align-left">
         <a id="close-charms" class="win-backbutton" href="#"></a>
      </div>
      <div class="span2">
         <h1>Utente</h1>
      </div>
   </div>

   <div id="charms-body">
      <div id="charms-user" class="span3">

         <br />

         <div class="row">
            <div class="span2">
               <h3>FirstName</h3>
               <h4>LastName</h4>
            </div>
            <div class="span1">
               <img src="http://www.gravatar.com/avatar/6cc5a644d49a9bfe88bc0819ae7bdea6.png?s=48" alt="user" />
            </div>
         </div>

         <hr/>

         <div class="">
            <form class="">
               <label for="hub-color-select">HUB background color:</label>
               <select id="hub-color-select">
                  <option value="#FFF">Light</option>
                  <option value="#F2F2F2">Semi Light 1</option>
                  <option value="#F4F4F4">Semi Light 2</option>
                  <option value="#000">Dark</option>
                  <option value="#004050">Win8</option>
               </select>

               <label for="accent-color-select">Accent Color:</label>
               <select id="accent-color-select">
                  <option value="orange">Orange</option>
                  <option value="red">Red</option>
                  <option value="green">Green</option>
                  <option value="blue">Blue</option>
                  <option value="purple">Purple</option>
                  <option value="teal">Teal</option>
                  <option value="lime">Lime</option>
               </select>
            </form>
         </div>

      </div>

      <div id="charms-search">
         Search:
         <input type="text" id="charmsSearchTextbox" />
         <ul id="searchResults">
         </ul>
      </div>

   </div>
</div>
