<div id="top-info" class="pull-right">
   <a href="#" class="pull-left">
      <div class="top-info-block">
         <h3>FirstName</h3>
         <h4>LastName</h4>
      </div>
      <div class="top-info-block">
         <b class="icon-user"></b>
      </div>
   </a>
   <hr class="separator pull-left"/>
   <a id="settings" class="pull-left" href="#">
      <b class="icon-settings"></b>
   </a>
</div>
