<a id="user-info" class="pull-right" href="#">
   <div class="user-info-block">
      <h3>FirstName</h3>
      <h4>LastName</h4>
   </div>
   <div class="user-info-block">
      <img id="user-avatar" src="http://www.gravatar.com/avatar/6cc5a644d49a9bfe88bc0819ae7bdea6.png?s=32" alt="user" />
   </div>
</a>
