<a id="user-info" class="pull-right" href="#">
   <div class="user-info-block">
      <h3>FirstName</h3>
      <h4>LastName</h4>
   </div>
   <div class="user-info-block">
      <b class="icon-user"></b>
   </div>
</a>
