<header id="nav-bar">
   <a id="page-back" href="index.html" class=""></a>
   <h1 class="start">Dashboard
      <a id="header-menu-toggle" href="#" class="">v</a>
   </h1>
   {{>loggeduser}}
</header>



<div  class="metro metro-theme-light">

   <div class="metro-sections">
      <div class="metro-section" id="section1">

         <a data-next="#section2" data-prior="#section1" href="#" class="next-section"></a>

         <h2>Category 1</h2>
         <div class="tile tile tile-double tile-multi-content bg-color-blue">
            <div class="tile-content-main">
               <div style="padding: 10px;">
                  <img class="place-left" style="height: 96px; margin-right: 20px" src="content/img/Notifications_mirror.png" />
                  <div style="margin-left: 115px; margin-top: 10px">
                     <p style="font-size: 36px; margin-top: 0px;">12</p>
                     <p style="font-size: 18px; margin-top: 0px;">Documenti da approvare</p>
                     <p style="font-size: 12px; margin-top: 5px">lorem ipsum</p>
                  </div>
               </div>
            </div>
            <span class="tile-label">Notifications</span>
         </div>


         <div class="tile tile-double bg-color-red">
            <div class="tile-icon-large">
               <img src="content/img/Pictures.png" />
            </div>
            <span class="tile-label">Photos</span>
         </div>
         <div class="tile bg-color-orange">
            <div class="tile-icon-large">
               <img src="content/img/Libraries.png" />
            </div>
            <span class="tile-label">Libraries</span>
         </div>
         <div class="tile tile-double bg-color-green">
            <div class="tile-icon-large">
               <img src="content/img/Calendar.png" />
            </div>
            <span class="tile-label">Calendar</span>
         </div>
         <div class="tile tile-double">
            <div class="tile-image">
               <img src="content/img/windows-8-fish.jpg" />
            </div>
            <span class="tile-label">Desktop</span>
         </div>

         <div class="tile bg-color-darken">
            <span class="tile-caption">XBOX LIVE!</span>
            <div class="tile-icon-cover">
               <img src="content/img/cheap-fallout-3-xbox-360.jpg" />
            </div>
            <span class="tile-label">Fallout 3</span>
         </div>
         <div class="tile bg-color-red">
            <div class="tile-icon-large">
               <img src="content/img/Pictures%20Library.png" />
            </div>
            <span class="tile-label">Camera</span>
         </div>

         <div class="tile tile-double tile-multi-content">
            <div class="tile-content-main">
               <div style="padding: 10px;">
                  <img src="content/img/Sunny.png" style="height: 96px; margin-right: 20px" class="place-left"/>
                  <div style="margin-left: 115px; margin-top: 10px">
                     <p style="font-size: 36px; margin-top: 0px;">12&#186;</p>
                     <p style="font-size: 18px; margin-top: 0px;">Киев, Украина</p>
                     <p style="font-size: 12px; margin-top: 5px">Солнечно, без осадков</p>
                  </div>
               </div>
               <span class="tile-label">Weather</span>
            </div>
            <div class="tile-content-sub bg-color-blueDark">
               Ха! Привет я нижний блок
            </div>
         </div>

         <div class="tile bg-color-green">
            <div class="tile-icon-large">
               <img src="content/img/Acer.png" />
            </div>
            <span class="tile-label">Acer Utilities</span>
         </div>
         <div class="tile bg-color-blueDark">
            <div class="tile-icon-large">
               <img src="content/img/Amazon.png" />
            </div>
            <span class="tile-label">Amazon</span>
         </div>
      </div>

   </div>

</div>

<footer id="app-bar" class="metro metro-theme-light footer">
   <p><strong>&copy;{{_i}}2012 Aozora Labs{{/i}}</strong></p>
</footer>