<!-- Header
================================================== -->
<header id="nav-bar" class="container">
   <h1>bootmetro</h1>
   <!--<h2>Metro style web framework</h2>-->
</header>


<div id="header-nav" class="container">
   <ul class="nav nav-links">
      <li>
         <a href="#">Demo</a>
      </li>
      <li>
         <a href="#">documentation</a>
      </li>
      <li>
         <a href="#">downloads</a>
      </li>
      <li>
         <a href="#">about</a>
      </li>
   </ul>
</div>

<div id="hero" class="container">
   <p class="lead">
      simple and flexible web framework to create elegant and modern web applications
   </p>

</div>

