<!-- Header
================================================== -->
<header id="nav-bar" class="container-fluid">
   <div class="row-fluid">
      <div class="span7">
         <div id="header-container">
            <a id="backbutton" class="win-backbutton" href="./hub.html"></a>
            <h5>{{appname}}</h5>
            <div class="dropdown">
               <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" >
                  {{_i}}List & Detail{{/i}}
                  <b class="caret"></b>
               </a>
               {{>headermenu}}
            </div>
         </div>
      </div>
      {{>loggeduser}}
   </div>
</header>

<div class="container-fluid">
   <div class="row-fluid">
      <div class="metro span5">
         <div id="tile-listview-demo" class="tile-listviewitem-container">

            <div class="row-fluid">
               <div class="tile-listviewitem">
                  <div class="span3">
                     <img src="holder.js/112x112" />
                  </div>
                  <div class="span9">
                     <div class="detail">
                        <div class="title">Item 1 Title</div>
                        <div class="subtitle">Item 1 SubTitle</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row-fluid">
               <div class="tile-listviewitem">
                  <div class="span3">
                     <img src="holder.js/112x112" />
                  </div>
                  <div class="span9">
                     <div class="detail">
                        <div class="title">Item 2 Title</div>
                        <div class="subtitle">Item 2 SubTitle</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row-fluid">
               <div class="tile-listviewitem">
                  <div class="span3">
                     <img src="holder.js/112x112" />
                  </div>
                  <div class="span9">
                     <div class="detail">
                        <div class="title">Item 3 Title</div>
                        <div class="subtitle">Item 3 SubTitle</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row-fluid">
               <div class="tile-listviewitem">
                  <div class="span3">
                     <img src="holder.js/112x112" />
                  </div>
                  <div class="span9">
                     <div class="detail">
                        <div class="title">Item 4 Title</div>
                        <div class="subtitle">Item 4 SubTitle</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row-fluid">
               <div class="tile-listviewitem">
                  <div class="span3">
                     <img src="holder.js/112x112" />
                  </div>
                  <div class="span9">
                     <div class="detail">
                        <div class="title">Item 5 Title</div>
                        <div class="subtitle">Item 5 SubTitle</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                  </div>
               </div>
            </div>


         </div>
      </div>

      <div class="span7">
         <article class="tile-listviewitem-detail">
            <header>
               <img width="182" height="182" src="holder.js/182x182" />
               <div class="titles">
                  <h1>Item Title</h1>
                  <h2>Item SubTitle</h2>
               </div>
            </header>
            <section>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </section>
         </article>
      </div>
   </div>
</div>
