<!-- Header
================================================== -->
<header id="nav-bar" class="container-fluid">
   <div class="row-fluid">
      <div class="span8">
         <div id="header-container">
            <a id="backbutton" class="win-backbutton" href="./index.html"></a>
            <h5>Application Name</h5>
            <div class="dropdown">
               <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" >
                  {{_i}}Demo Simple Table {{/i}}
                  <b class="caret" href="#"></b>
               </a>
               {{>headermenu}}
            </div>
         </div>
      </div>
      {{>loggeduser}}
   </div>
</header>

<div class="container-fluid">
   <div class="row-fluid">
      <div class="span12">

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         <br/>

         <div class="row-fluid">
            <div class="span12">
            <table class="table table-condensed">
               <thead>
               <tr>
                  <th>Project</th>
                  <th>Duration</th>
                  <th class="span2">Contract Value</th>
                  <th class="span2">Budget Cost</th>
                  <th class="span2">Cost Variance</th>
                  <th>Location</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                  <td>PPM</td>
                  <td>440 days</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">+3000,00</td>
                  <td>Milano</td>
               </tr>
               <tr>
                  <td>KDM</td>
                  <td>140 days</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">+3000,00</td>
                  <td>Milano</td>
               </tr>
               <tr>
                  <td>BioSign</td>
                  <td>440 days</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">70.570,00€</td>
                  <td class="align-right">+3000,00</td>
                  <td>Milano</td>
               </tr>
               <tr>
                  <td>Win8</td>
                  <td>1440 days</td>
                  <td class="align-right">170.570,00€</td>
                  <td class="align-right">170.570,00€</td>
                  <td class="align-right">-43000,00</td>
                  <td>Milano</td>
               </tr>
               </tbody>
            </table>
            </div>
         </div>

      </div>
      <div class="span1">&nbsp;</div>
   </div>
</div>

<footer class="win-ui-dark win-commandlayout navbar-fixed-bottom">
   <div class="container">
      <div class="row">
         <div class="span6 align-left">
            <button class="win-command">
               <span class="win-commandimage win-commandring">&#x0067;</span>
               <span class="win-label">Cerca</span>
            </button>

            <hr class="win-command" />

            <button class="win-command">
               <span class="win-commandimage win-commandring">&#xe125;</span>
               <span class="win-label">Ricarica</span>
            </button>

            <button class="win-command">
               <span class="win-commandimage win-commandring">&#xE165;</span>
               <span class="win-label">Invia per Email</span>
            </button>
         </div>
         <div class="span6 align-right">
            <button class="win-command">
               <span class="win-commandimage win-commandring">&#xE001;</span>
               <span class="win-label">Elimina</span>
            </button>

            <button class="win-command">
               <span class="win-commandimage win-commandring">&#xe03e;</span>
               <span class="win-label">Aggiungi</span>
            </button>
         </div>
      </div>



   </div>

</footer>