<!-- Header
================================================== -->
<header id="nav-bar" class="container-fluid">
   <div class="row-fluid">
      <div class="span8">
         <div id="header-container">
            <a id="backbutton" class="win-backbutton" href="./index.html"></a>
            <h5>Application Name</h5>
            <div class="dropdown">
               <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#" >
                  {{_i}}Tiles Templates{{/i}}
                  <b class="caret" href="#"></b>
               </a>
               {{>headermenu}}
            </div>
         </div>
      </div>
      {{>loggeduser}}
   </div>
</header>

<div class="container-fluid">
   <div class="row-fluid">
      <div class="metro span12">
         <div class="metro-sections">

               <div class="metro-section" id="section1">

                  <h2>Tiles Templates</h2>

                  <a class="tile bg-color-orange" href="./square-tiles-templates.html">
                     <div class="tile-icon-large">
                        <img src="content/img/metro-tiles.jpg" />
                     </div>
                     <span class="tile-label">SQUARE TILES TEMPLATES</span>
                  </a>

                  <a class="tile tile-double bg-color-green" href="./wide-tiles-templates.html">
                     <div class="tile-icon-large">
                        <img src="content/img/metro-tiles-wide.jpg" />
                     </div>
                     <span class="tile-label">WIDE TILES TEMPLATES</span>
                  </a>

               </div>

         </div>
      </div>
   </div>
</div>