<div id="wrap">

   <!-- Header
   ================================================== -->
   <div id="nav-bar" class="">
      <div class="pull-left">
         <div id="header-container">
            <h5>{{appname}} Demo</h5>
            <div class="dropdown">
               <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                  Start
                  <b class="caret"></b>
               </a>
               {{>headermenu}}
            </div>
         </div>
      </div>
      <div class="pull-right">
         {{>loggeduser}}
      </div>
   </div>

   <!--<div id="metro-container" class="-container">-->
      <!--<div class="row">-->
         <!--<div id="hub" class="metro">-->
            <div class="metro panorama">
               <div class="panorama-sections">

                  <div id="section1" class="panorama-section tile-span-4">

                     <h2>Group One</h2>

                     <a class="tile app bg-color-orange" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-mail"></span>
                        </div>
                        <div class="app-label">Mail</div>
                        <div class="app-count">12</div>
                     </a>

                     <a class="tile app bg-color-blue" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-map"></span>
                        </div>
                        <div class="app-label">Map</div>
                     </a>

                     <a class="tile wide imagetext bg-color-greenDark" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-chat-2"></span>
                        </div>
                        <div class="column-text">
                           <div class="text4">Chat with your friends</div>
                        </div>
                        <div class="app-label">145 friends online</div>
                     </a>

                     <a class="tile app bg-color-purple" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-weather"></span>
                        </div>
                        <div class="app-label">Weather</div>
                     </a>

                     <a class="tile app bg-color-green" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-linkedin"></span>
                        </div>
                        <div class="app-label">LinkedIn</div>
                     </a>

                  </div>

                  <div id="section2" class="panorama-section tile-span-4">

                     <h2>Group two</h2>

                     <a class="tile wide imagetext bg-color-blue" href="#">
                        <div class="image-wrapper">
                           <span class="icon icon-music-3"></span>
                        </div>
                        <div class="column-text">
                           <div class="text">Top 10</div>
                           <div class="text">Favorites</div>
                           <div class="text">Best choices</div>
                        </div>
                        <span class="app-label">MUSIC</span>
                     </a>

                     <a class="tile wide imagetext bg-color-blueDark" href="./base-css.html">
                        <div class="image-wrapper">
                           <img src="assets/img/Coding app.png" />
                        </div>
                        <div class="column-text">
                           <div class="text">Typography</div>
                           <div class="text">Tables</div>
                           <div class="text">Forms</div>
                           <div class="text">Buttons</div>
                        </div>
                        <span class="app-label">BASE CSS</span>
                     </a>

                     <a class="tile app bg-color-orange" href="./components.html">
                        <div class="image-wrapper">
                           <img src="assets/img/RegEdit.png" alt="" />
                        </div>
                        <span class="app-label">COMPONENTS</span>
                     </a>

                     <a class="tile app bg-color-red" href="./javascript.html">
                        <div class="image-wrapper">
                           <img src="assets/img/Devices.png" alt="" />
                        </div>
                        <span class="app-label">JAVASCRIPT</span>
                     </a>

                  </div>

               </div>
            </div>
            <a id="panorama-scroll-prev" href="#"></a>
            <a id="panorama-scroll-next" href="#"></a>
         <!--</div>-->
      <!--</div>-->
   <!--</div>-->

</div>
