//
// Progress bars
// --------------------------------------------------

/*
Progress control. */
.progress {
   background-image: none;
   .no-border-radius;
   height: auto;

   .bar {
      height: 5px;
   }

   &.progress-indeterminate {
      background-color: transparent;
      height: auto;

      .bar {
         display: block;
         position: static;
         width: 88px;
         height: 8px;
         margin: 4px auto;
         background: transparent url("../img/progress-indeterminate-light.gif") no-repeat 0 0;
         .no-border-radius;
         .no-box-shadow;
      }

      .win-ring {
         display: inline-block;
         margin: 5px 10px;
         width: 50px;
         height: 50px;
         background: transparent url("../img/progress-indeterminate-ring-light.gif") no-repeat 0 0;

         &.small {
            width: 24px;
            height: 24px;
            background: transparent url("../img/progress-indeterminate-ring-light-small.gif") no-repeat 0 0;
         }
      }


   }


}



.win-ui-dark.progress.progress-indeterminate .bar {
   background: transparent url("../img/progress-indeterminate-dark.gif") no-repeat 0 0;
}



.win-ui-dark.progress.progress-indeterminate .win-ring.small {
   width: 24px;
   height: 24px;
   margin: 5px 10px;
   background: transparent url("../img/progress-indeterminate-ring-dark-small.gif") no-repeat 0 0;
}


.progress-danger .bar,
.progress .bar-danger,
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger,
.progress-success .bar,
.progress .bar-success,
.progress-success.progress-striped .bar,
.progress-striped .bar-success,
.progress-info .bar,
.progress .bar-info,
.progress-info.progress-striped .bar,
.progress-striped .bar-info,
.progress-warning .bar,
.progress .bar-warning,
.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
   background-image: none;
   filter: none;
}
.progress .bar + .bar {
   .no-box-shadow;
}