body {
  position: relative;
  font-weight: 300;
}
a {
  text-decoration: none;
}
/*
No border on images when in a link.
*/
img {
  border-style: none;
}
#top-info {
  display: block;
}
#top-info > a {
  padding: 0;
}
#header-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
header h1 {
  display: inline;
}
#nav-bar {
  display: block;
  position: relative;
  height: auto;
  padding-top: 24px;
  padding-bottom: 20px;
}
.row-fluid .hide {
  display: none;
}
