//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1 {
   font-weight: 300;
   font-size: 42pt;
   line-height: 1.1429; /* 64px when font-size is 42pt */
}
h2 {
   font-weight: 300;
   font-size: 20pt;
   line-height: 1.2; /* 32px when font-size is 20pt */
}
h3 {
   font-weight: 600;
   font-size: 11pt;
   line-height: 1.3636; /* 20px when font-size is 11pt */
}
h4 {
   font-weight: 400;
   font-size: 11pt;
   line-height: 1.3636; /* 20px when font-size is 11pt */
}
h5 {
   font-weight: 300;
   font-size: 11pt;
   line-height: 1.3636; /* 20px when font-size is 11pt */
}
h6, caption, figcaption, small {
   font-weight: 400;
   font-size: 11px;
   line-height: 11px;
   font-size: 9pt;
   line-height: 1.6667; /* 20px when font-size is 9pt */
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0;
}


// This is the header H2 with a dropdown for the page menu
// -------------------------
#header-container a.header-dropdown {
   font-size: 26px;
   font-weight: 200;
   line-height: 34px;
   text-decoration: none;
}
#header-container .dropdown-menu .divider {
   background-color: #717171;
}
#header-container .dropdown.open .dropdown-toggle {
   background: inherit;
   color: inherit;
}
#header-container h5 {font-size: 14px;}



/* Additional letter-spacing for the document and its controls.
-------------------------------------------------- */

body,
button,
input,
textarea,
select,
option {
   letter-spacing: 0.02em;
}

