<ul class="nav bs-docs-sidenav">
   <!-- Metro Components -->
   <li>
      <a href="#metro-components" class="nav-header">Advanced Components</a>
      <ul class="nav">
         <li><a href="#metro-commands">Command Buttons</a></li>
         <li><a href="#metro-progress">Metro Progress Bars</a></li>
         <li><a href="#metro-modals">Modal</a></li>
         <li><a href="#metro-datepicker">DatePicker</a></li>
         <li><a href="#metro-flipview">FlipView</a></li>
         <li><a href="#metro-pivot">Pivot</a></li>
         <li><a href="#metro-toast">Toast Notification</a></li>
      </ul>
   </li>
</ul>
