<div id="css" class="bs-docs-section-header">
   <h1>CSS</h1>
   <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p>
</div>

<div id="css-overview" class="bs-docs-section">
   <div class="page-header">
      <h1>Overview</h1>
   </div>
   <p class="lead">Get the lowdown on the key pieces of BootMetro's infrastructure, including our approach to better, faster, stronger web development.</p>
</div>