<div id="css" class="bs-docs-section-header">
   <h1>CSS</h1>
   <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p>
</div>

<div id="css-overview" class="bs-docs-section">
   <div class="page-header">
      <h1>Overview</h1>
   </div>
   <p class="lead">Get the lowdown on the key pieces of BootMetro's infrastructure, including our approach to better, faster, stronger web development.</p>

   <h3>HTML5 doctype required</h3>
   <p>BootMetro makes use of certain HTML elements and CSS properties that require the use of the HTML5 doctype. Include it at the beginning of all your projects.</p>
   <div class="highlight">
      <pre>
<code class="html"><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;/html&gt;</span>
</code>
      </pre>
   </div>

</div>