
<!-- this is the old 'scaffolding' file -->

<div id="css" class="bs-docs-section-header">
   <h1>CSS</h1>
   <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p>
</div>

{{>grid}}
{{>basecss}}
