<ul class="nav metro-nav-list bs-docs-sidenav">
   <li>
      <a href="#icons">Icons</a>
      <ul class="nav">
         <li><a href="#class-names">CSS Class Names</a></li>
      </ul>
   </li>

</ul>
