<ul class="nav metro-nav-list bs-docs-sidenav">
   <!-- CSS -->
   <li class="active">
      <a href="#scaffolding">Scaffolding</a>
      <ul class="nav">
         <li><a href="#scaffolding-global">Global styles</a></li>
         <li><a href="#scaffolding-gridSystem">Grid system</a></li>
         <li><a href="#scaffolding-fluidGridSystem">Fluid grid system</a></li>
         <li><a href="#scaffolding-layouts">Layouts</a></li>
         <li><a href="#scaffolding-responsive">Responsive design</a></li>
      </ul>
   </li>
   <li>
      <a href="#typography" >Typography</a>
      <ul class="nav">
         <li><a href="#typography-headings">Headings</a></li>
         <li><a href="#typography-body-copy">Body copy</a></li>
         <li><a href="#typography-emphasis">Emphasis</a></li>
         <li><a href="#typography-abbreviations">Abbreviations</a></li>
         <li><a href="#typography-addresses">Addresses</a></li>
         <li><a href="#typography-blockquotes">Blockquotes</a></li>
         <li><a href="#typography-lists">Lists</a></li>
      </ul>
   </li>
   <li><a href="#code">Code</a></li>
   <li>
      <a href="#tables">Tables</a>
      <ul class="nav">
         <li><a href="#tables-example">Basic example</a></li>
         <li><a href="#tables-striped">Zebra striping</a></li>
         <li><a href="#tables-bordered">Bordered tables</a></li>
         <li><a href="#tables-hover">Hover rows</a></li>
         <li><a href="#tables-condensed">Condensed tables</a></li>
         <li><a href="#tables-row-classes">Contextual row classes</a></li>
      </ul>
   </li>
   <li>
      <a href="#forms">Forms</a>
      <ul class="nav">
         <li><a href="#forms-example">Basic example</a></li>
         <li><a href="#forms-inline">Inline variation</a></li>
         <li><a href="#forms-horizontal">Horizontal variation</a></li>
         <li><a href="#forms-controls">Supported controls</a></li>
         <li><a href="#forms-input-groups">Input groups</a></li>
         <li><a href="#forms-control-sizes">Control sizing</a></li>
         <li><a href="#forms-actions">Form actions</a></li>
         <li><a href="#forms-help-text">Help text</a></li>
         <li><a href="#forms-control-states">Control states</a></li>
      </ul>
   </li>
   <li>
      <a href="#buttons">Buttons</a>
      <ul class="nav">
         <li><a href="#buttons-options">Button options</a></li>
         <li><a href="#buttons-sizes">Sizes</a></li>
         <li><a href="#buttons-disabled">Disabled</a></li>
         <li><a href="#buttons-tags">Button tags</a></li>
      </ul>
   </li>
   <li><a href="#images">Images</a></li>
</ul>
