<ul class="nav metro-nav-list bs-docs-sidenav">
   <!-- JavaScript -->
   <li><a href="#javascript" class="nav-header">JavaScript</a></li>
   <li>
      <a href="#js-overview">Overview</a>
      <ul class="nav">
         <li><a href="#js-individual-compiled">Individual or compiled</a></li>
         <li><a href="#js-data-attributes">Data attributes</a></li>
         <li><a href="#js-programmatic-api">Programmatic API</a></li>
         <li><a href="#js-noconflict">No Conflict</a></li>
         <li><a href="#js-events">Evens</a></li>
      </ul>
   </li>
   <li><a href="#js-transitions">Transitions</a></li>
   <li>
      <a href="#js-modals">Modal</a>
      <ul class="nav">
         <li><a href="#modals-examples">Examples</a></li>
         <li><a href="#modals-usage">Usage</a></li>
      </ul>
   </li>
   <li><a href="#js-dropdowns">Dropdown</a></li>
   <li><a href="#js-scrollspy">Scrollspy</a></li>
   <li><a href="#js-tabs">Tab</a></li>
   <li><a href="#js-tooltips">Tooltip</a></li>
   <li><a href="#js-popovers">Popover</a></li>
   <li><a href="#js-alerts">Alert</a></li>
   <li><a href="#js-buttons">Button</a></li>
   <li><a href="#js-collapse">Collapse</a></li>
   <li><a href="#js-carousel">Carousel</a></li>
   <li><a href="#js-flipview">FlipView</a></li>
   <li><a href="#js-typeahead">Typeahead</a></li>
   <li><a href="#js-affix">Affix</a></li>
   <li><a href="#js-datepicker">DatePicker</a></li>
</ul>
