/* charms */
#charms {
   background-color: #004D60;
   position: fixed;
   top: 0%;
   right: 0%;
   height: 100%;
   padding: 30px 0;
   margin: 0px;
   width: 0;
}

#charms-body h1 {color: #FFF;}

#charms-body h2,
#charms-body h3,
#charms-body h4,
#charms-body p,
#charms-body a,
#charms-body label {color: #19BFC9;}

#charms-body a:hover {background-color: #216475}


#charms hr {border: 1px solid #357281}

#charms-user {
   height: 100%;
   display: none;
}

#charms-search {
   color: White;
   display: none;
   height: 100%;
   padding: 40px 20px 20px 20px;
   width: 265px;
}

#charms-search li {
   margin-left: -10px;
   font-size: 10pt;
   margin: 5px 0px 5px 0px;
}

#charms-search a:link, #charms-search a:visited, #charms-search a:hover, #charms-search a:active {
   color: White;
   text-decoration: none;
}

#charms-searchTextbox {
   display: none;
}

ul#searchResults {
   list-style-type: square;
}

.charms-block {
   display: block;
   float: none;
   margin-top: 16px;
}



.highlight {
   color: #1BA1E2;
}
