body[data-accent=orange] .accent-color,
body[data-accent=orange] header h1,
body[data-accent=orange] header h2,
body[data-accent=orange] table th {color:#F09720;}
body[data-accent=orange] .accent-bg {background:#F09720;}

body[data-accent=red] .accent-color,
body[data-accent=red] header h1,
body[data-accent=red] header h2,
body[data-accent=red] table th {color:#E61E26;}
body[data-accent=red] .accent-bg {background:#E61E26;}

body[data-accent=green] .accent-color,
body[data-accent=green] header h1,
body[data-accent=green] header h2,
body[data-accent=green] table th {color:#309B46;}
body[data-accent=green] .accent-bg {background:#309B46;}

body[data-accent=blue] .accent-color,
body[data-accent=blue] header h1,
body[data-accent=blue] header h2,
body[data-accent=blue] table th {color:#24A0DA;}
body[data-accent=blue] .accent-bg {background:#24A0DA;}

body[data-accent=purple] .accent-color,
body[data-accent=purple] header h1,
body[data-accent=purple] header h2,
body[data-accent=purple] table th {color:#7D50A0;}
body[data-accent=purple] .accent-bg {background:#7D50A0;}

body[data-accent=teal] .accent-color,
body[data-accent=teal] header h1,
body[data-accent=teal] header h2,
body[data-accent=teal] table th {color:#16ABA9;}
body[data-accent=teal] .accent-bg {background:#16ABA9;}

body[data-accent=lime] .accent-color,
body[data-accent=lime] header h1,
body[data-accent=lime] header h2,
body[data-accent=lime] table th {color:#8BC140;}
body[data-accent=lime] .accent-bg {background:#8BC140;}
